*{
    font-family: "Poppins" !important;
}

body{
    background-color: #F0F3F4;
}

.bgc-primary{
    background-color: #FCA622;
}

.fc-primary{
    color: #FCA622;
}

.light-gray{
    background-color: #D9D9D9
}

.red-color{
    background-color: #D81F47;
}

.bg-black{
    background-color: #222222;
}

.bgc-input{
    background-color: #F9F9FC;
}

.fc-gray{
    color: #667085;
}

.fc-red{
    color: #D81F47;
}

.dashed{
    border: 2px dashed #ccc;
}

.btn-large{
    padding: 8px 80px;
}

.br-8{
    border-radius: 8px;
}

.fs-13 {
    font-size: 13px;
}

.fit-content{
    height: fit-content;
}

.w-fit-content{
    width: fit-content;
}

.btn-default{
    background-color: #FCA622;
    height: fit-content;
    width: fit-content;
    border-radius: 8px;
    border: none;
}

.brt-8{
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.brb-8{
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

.step { 
    display: none; 
}

.step.active { 
    display: block; 
}

.none{
    display: none;
}

.navbar {
    background-color: #222222;
    width: 100%;
    z-index: 1040;
}

.sidebar {
    background-color: #222222;
    z-index: 1050; /* Valor alto para sobrepor o header */
    position: fixed;
    top: 0;
    left: 0;
    padding: 20px 10px;
    color: #ffffff;
    overflow-y: auto;
}

.create-modal-width {
    max-width: 56%; 
}

#imagePreview {
    cursor: pointer;
    max-width: 250px;
    height: 250px;
    border: 2px dashed #ccc;
    padding: 10px;
}

.is-invalid {
    border-color: #D81F47;
}

.is-invalid ~ .invalid-feedback {
    display: block;
}

.nav-link:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.nav-link:hover .bi, .nav-link:hover > div > p {
    color: #FCA622;
}

.card-options {
    position: absolute;
    top: 52px;
    right: 10px;
    display: none;
    z-index: 1000;
}

.px-9{
    padding-left: 9rem;
    padding-right: 9rem;
}

.a-button{
    display: inherit;
    text-decoration: none;
    color: #222222;
}

.a-button:hover{
    background-color: rgb(252, 166, 34, .5);
    color: #222222;
}

.rotate-180 {
    transform: rotate(180deg);
    transition: transform 0.3s ease-in-out;
}

.input-default{
    background-color: #F9F9FC;
    font-size: 13px;
    line-height: 1.5;
    color: #495057;
    background-clip: padding-box;
    border: 2px solid #ced4da;
    appearance: none;
    border-radius: 8px;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    width: 160px;
}

.input-default:focus {
    color: #495057;
    background-color: #fff;
    border-color: #80bdff;
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgba(0, 123, 255, 0.25);
}

.label-default{
    color: #4D5464;
    font-size: 14px;
    font-weight: 500;
}

.input-default::placeholder {
    color: #6c757d;
    opacity: 1;
}

.container-default{
    border: 2px solid #ced4da;
    border-radius: 8px;
}

/* imagens produto */
#imagePreviewContainer {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

.image-preview-wrapper {
    position: relative;
    width: 150px;
    height: 150px;
}

.image-preview {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border: 2px dashed #ccc;
    border-radius: 8px;
    padding: 10px;
    cursor: pointer;
}

.remove-image-btn {
    position: absolute;
    top: 5px;
    right: 5px;
    background-color: red;
    color: white;
    border: none;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    text-align: center;
    cursor: pointer;
}

.btn-cancel{
    background-color: transparent;
    color: #858D9D;
    border: 1px solid #858D9D;
}

.btn-clean{
    background-color: transparent;
    border: none;
}